/* respaldo */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.dropdown {
    display: inline-block;
    position: relative;
    min-width: 100px;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #fff;    
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #ccc;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>div>a, nav>div>div {
    color: #fff;
    margin: 0px 10px;
}

section {
    margin: 20px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    flex: 2;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.alert {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

section a {
    color: #007bff;
}

table {
	border-collapse: collapse;
}

table td {
    color: #636363;
	border: 1px solid #dddfe1;
    padding: 10px;
}

table th {
    padding: 10px;
	background-color: #54585d;
	color: #ffffff;
	border: 1px solid #54585d;
}

.horizontal {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.form form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 15px;
}

.btn {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}
