/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

.btn {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}

.dropdown {
    display: inline-block;
    position: relative;
    min-width: 100px;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #fff;    
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #ccc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>div>a, nav>div>div {
    color: #fff;
    margin: 0px 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.alert {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
/* Agrega más estilos según tus necesidades */
