{% extends "layout.html" %}

{% block estilos %}
    <style>
        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        .btn-container {
            margin-bottom: 20px;
        }

        .btn {
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 10px;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        form {
            margin-bottom: 20px;
        }

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn-modificar {
            text-decoration: none;
            background-color: #28a745;
            color: #fff;
            padding: 8px 12px;
            border-radius: 5px;
            display: inline-block;
        }

        .btn-modificar:hover {
            background-color: #218838;
        }
        .my-button{
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            display: inline-block;
            border: none;
        }

        .btn:hover,.my-button:hover {
            background-color: #0056b3;
        }
        .my-button{
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 5px 5px;
            border-radius: 5px;
            display: inline-block;
            border: none;
        }

        .btn:hover,.my-button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block title %}
    E-vent
{% endblock %}

{% block contenido %}
    <h1>Actividades</h1>

    <div class="btn-container">
        <a class="my-button" href="{{ url_for('config.añadirActividad') }}">
            <button class= "my-button" type="button">Agregar actividad</button>
        </a>
    </div>

    <form action="">
        <input type="text" placeholder="Buscar.." name="query">
        <button class="btn" type="submit">Buscar</button>
    </form>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Evento</th>
            <th>Expositor(es)</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr> 
        {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.nombre }}</td>
                <td><a href="{{url_for('inscripcion.evento', id=actividad.evento.id)}}">{{ actividad.evento.nombre }}</a></td>
                <td>
                    {% for exp in actividad.expositores %}
                        {{exp.nombre}},
                    {% endfor %}
                </td>
                <td>{{ actividad.fechaInicio }}</td>
                <td>{{ actividad.fechaFin }}</td>
                <td>{{ actividad.tipo }}</td>
                <td>{{ actividad.descripcion }}</td>
                <td><a class="btn-modificar" href="{{ url_for('config.modificarActividad', id=actividad.id) }}">Modificar Actividad</a></td>
            </tr>
        {% endfor %}   
    </table>
{% endblock %}
