{% extends "layout.html" %}

{% block estilos %}
    <style>
        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        .btn-container {
            margin-bottom: 20px;
        }

        .btn {
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 10px;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        form {
            margin-bottom: 20px;
        }

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .ambiente-container {
            border: 1px solid #ddd;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: #fff;
            overflow: hidden;  /* Añadido overflow para evitar que los márgenes se extiendan */
        }

        .ambiente-container::after {
            content: "";
            display: table;
            clear: both;
        }

        .ambiente-info {
            float: left;
            width: 65%;  /* Ajustado el ancho del contenedor de información */
        }

        .ambiente-img {
            float: right;
            max-height: 300px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block title %}
    E-vent
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Ambientes</h1>

        <div class="btn-container">
            <a class="btn" href="{{ url_for('config.añadirAmbiente') }}">
                <button type="button">Agregar ambiente</button>
            </a>
        </div>

        <form action="">
            <input type="text" placeholder="Buscar.." name="query">
            <button class="btn" type="submit">Buscar</button>
        </form>

        {% for ambiente in ambientes %}
            <div class="ambiente-container">
                <div class="ambiente-info">
                    <h3><a href="{{ url_for('config.modificarAmbiente', id=ambiente.id) }}">{{ ambiente.nombre }}</a></h3>
                    <div><b>Aforo:</b> {{ ambiente.aforo }}</div>
                    <p>{{ ambiente.descripcion }}</p>
                </div>

                <div>
                    <img class="ambiente-img" src="{{ url_for('static', filename='imgs/ambientes/'~ ambiente.id ~ '.png') }}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
