{%extends "layout.html"%}

{%block title%}
Agregar ambiente
{%endblock%}

{%block estilos%}
{%endblock%}

{%block contenido%}
<div class="page">
    <div style="display: flex; justify-content:space-between">
    <div class="form">
        <h1>Ambiente</h1>
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="input-box">
                <label>Nombre</label>
                <br>
                <input type="text" name="nombre" autocomplete="off" {% if ambiente %}value="{{ ambiente.nombre }}"{% endif %} required>
            </div>
            <div class="input-box">
                <label>Descripción</label>
                <br>
                <input type="text" name="descripcion" autocomplete="off" {% if ambiente %}value="{{ ambiente.descripcion }}"{% endif %} required>
            </div>
            <div class="input-box">
                <label>Aforo</label>
                <br>
                <input type="number" name="aforo" autocomplete="off" {% if ambiente %}value="{{ ambiente.aforo }}"{% endif %} required>
            </div>
            <div class="input-box">
                <label>Imagen</label>
                {% if ambiente %}(solo si se quiere cambiar){% endif %}
                <br>
                <input type="file" name="imagen" accept="image/png, image/jpg, image/jpeg" autocomplete="off" {% if not ambiente %}required{% endif %}>
            </div>
            <button class="btn" type="submit">Guardar</button>
        </form>
    </div>
    <div>
        {% if ambiente %}
            <img style="max-height: 450px;" src="{{ url_for('static', filename='imgs/ambiente/' ~ ambiente.id ~ '.png') }}" alt="{{ ambiente.nombre }}">
        {% endif %}
    </div>
    </div>
</div>
{%endblock%}