{%extends "layout.html"%}

{%block title%}
Material
{%endblock%}

{%block estilos%}
{%endblock%}

{%block contenido%}
<div class="page">
    
    <div class="form">
        <h1>Material</h1>
        <br>
        <form action="" method="post">
            <div class="input-box">
                <label>Nombre</label>
                <br>
                <input type="text" name="nombre" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label>Tipo</label>
                <br>
                <input type="text" name="tipo" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label>Cantidad</label>
                <br>
                <input type="number" name="cantidad" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label>Costo</label>
                <br>
                <input type="number" name="costo" autocomplete="off" required>
            </div>            
            <button class="btn" type="submit">Guardar</button>
        </form>
    </div>

</div>
{%endblock%}