{%extends "layout.html"%}

{%block title%}
{{title}}
{%endblock%}

{%block estilos%}
{%endblock%}

{%block contenido%}
<div class="page">
    
    <div class="form">
        <h1>{{title}}</h1>
        <br>
        <form action="" method="post">
            <div class="input-box">
                <label>Monto</label>
                <br>
                <input type="number" name="monto" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label>Descripción</label>
                <br>
                <input type="text" name="descripcion" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label>Fecha</label>
                <br>
                <input type="date" name="fecha" autocomplete="off" required>
            </div>         
            <button class="btn" type="submit">Guardar</button>
        </form>
    </div>

</div>
{%endblock%}