{% extends "layout.html" %}

{% block title %}
    Agregar paquete
{% endblock %}

{% block estilos %}
    <style>
        .page {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form {
            width: 50%;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        label,
        input,
        h2,
        div {
            margin-bottom: 15px;
            margin-right: 10px;
        }

        input {
            width: calc(100% - 22px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="checkbox"] {
            margin-top: 3px; /* Ajuste para alinear el checkbox */
            margin-right: 5px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .name-cb {
            display: flex;
            align-items: center;
            margin-bottom: 10px; /* Espacio entre cada par de label y checkbox */
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="page">
        <div class="form">
            <h1>Paquete</h1>
            <form action="" method="post">
                <div>
                    <label for="precio">Precio</label>
                    <br>
                    <input type="number" name="precio" step="0.01" min="0" autocomplete="off" required>
                </div>
                <div>
                    <label for="rol">Rol</label>
                    <br>
                    <input type="text" name="rol" autocomplete="off" required>
                </div>
                <h2>Actividades</h2>
                {% for act in evento.actividades %}
                    <div class="name-cb">
                        <label>{{ act.nombre }}</label>
                        <input type="checkbox" name="actividades" value="{{ act.id }}">
                    </div>
                {% endfor %}

                <div>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
