{%extends "layout.html"%}

{%block title%}
Material
{%endblock%}

{%block estilos%}
{%endblock%}

{%block contenido%}
{% if evento is defined %}
<div class="container">
    <h1>Caja de {{ evento.nombre }}</h1>
    <br>
    <b>Utilidad: </b>{{ evento.ingresos|sum(attribute='monto') - evento.egresos|sum(attribute='monto') }}
    <br><br>
    <div style="display: flex;">
    <div style="flex: 1;">
    <h2>Ingresos</h2>
    <br>
    <b>Total: </b> {{ evento.ingresos|sum(attribute='monto') }}
    <br><br>
    <a href="{{url_for('caja.añadirIngreso', id=evento.id)}}">
        <button type="button">
            Añadir Ingreso
        </button>
    </a>
    <br><br>
    <table>
        <tr>
            <th>Monto</th>
            <th>Descripcion</th>
            <th>Fecha</th>
        </tr>
        {% for ing in evento.ingresos %}
        <tr>
            <td>{{ ing.monto }}</td>
            <td>{{ ing.descripcion }}</td>
            <td>{{ ing.fecha }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{url_for('reporte.reporteCaja', tipo='ingresos', id=evento.id)}}">
        <button type="button">Generar Reporte</button>
    </a>
    </div>
    <div style="flex: 1;">
    <h2>Egresos</h2>
    <br>
    <b>Total: </b> {{ evento.egresos|sum(attribute='monto') }}
    <br><br>
    <a href="{{url_for('caja.añadirEgreso', id=evento.id)}}">
        <button type="button">
            Añadir Egreso
        </button>
    </a>
    <br><br>
    <table>
        <tr>
            <th>Monto</th>
            <th>Descripcion</th>
            <th>Fecha</th>
        </tr>
        {% for ing in evento.egresos %}
        <tr>
            <td>{{ ing.monto }}</td>
            <td>{{ ing.descripcion }}</td>
            <td>{{ ing.fecha }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{url_for('reporte.reporteCaja', tipo='egresos', id=evento.id)}}">
        <button type="button">Generar Reporte</button>
    </a>
    </div>
</div>
{% else %}
    <h2>Elige Evento</h2>
    <br>
    {% for eve in eventos %}
        <a>{{ eve.id }}: <a href="{{ url_for('caja.caja', id=eve.id) }}">{{ eve.nombre }}</a>
    {% endfor %}
{% endif %}
{%endblock%}