{% extends "layout.html" %}

{% block estilos %}
    <style>
        h2, h3 {
            color: #007bff;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block title %}
    E-vent
{% endblock %}

{% block contenido %}
    {% if comite %}    
        <h2>Comité {{ comite.nombre }}</h2>
        <br>
        <h3>Cuentas</h3>
        <br>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
            </tr>
            {% for cuenta in comite.cuentas %}
                <tr>
                    <td>{{ cuenta.nombre }}</td>
                    <td>{{ cuenta.correo }}</td>
                    <td>{{ cuenta.rol|capitalize }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Eventos</h3>
        <ul>
            {% for eve in comite.eventos %}
                <li><a href="{{ url_for('inscripcion.evento', id=eve.id) }}">{{ eve.nombre }}</a></li>
            {% endfor %}        
        </ul>
        <a href="{{ url_for('gestion.modificarComite', id=comite.id) }}"><button type="button">Modificar Comité</button></a>
    {% else %}
        <h2>Comités</h2>
        <ul>
            {% for comit in comites %}
                <li><a href="{{ url_for('gestion.comites', id=comit.id) }}">{{ comit.nombre }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <a href="{{ url_for('gestion.añadirComite') }}"><button type="button">Añadir Comité</button></a>
    {% endif %}
{% endblock %}
