{%extends "layout.html"%}

{%block estilos%}
{%endblock%}

{%block title%}
E-vent
{%endblock%}

{%block contenido%}
<div style="display: flex; justify-content:space-between">
<div>
    <a href="{{ url_for('inscripcion.evento', id=evento.id) }}"><h1>{{evento.nombre}}</h1></a>
    <br>
    <div><b>Inicio:</b> {{ evento.fechaInicio }}</div>
    <div><b>Fin:</b> {{ evento.fechaFin }}</div>
    <div><b>Tipo:</b> {{ evento.tipo }}</div>
    <br>
    <p>{{ evento.descripcion }}</p>
    <br>
    <h2>Actividades</h2>
    <br>
    <div style="display: flex; flex-wrap: wrap;">
    {% for actividad in evento.actividades %}
        <div>
            <h3>{{ actividad.nombre }}</h3>
            <br>
            <div><b>Inicio:</b> {{ actividad.fechaInicio }}</div>
            <div><b>Fin:</b> {{ actividad.fechaFin }}</div>
            <div><b>Tipo:</b> {{ actividad.tipo }}</div>
            <div><b>Ambiente:</b> {{ actividad.ambiente.nombre }}</div>
            <br>
            <p>{{ actividad.descripcion }}</p>
            {% if actividad.expositores|length > 0 %}            
                <h4>Expositores</h4>
                <ul>
                {% for expositor in actividad.expositores %}
                    <li>{{ expositor.nombre }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
        </div>
    {% endfor %}
    </div>
    
    {% if fechaActual < evento.fechaInscripcionInicio %}
        <div><b>Fecha de Inscripción:</b> {{ evento.fechaInscripcionIni }}</div>
        <a class="btn" style="margin-bottom: 0;" href="{{ url_for('inscripcion.preinscripcion', id=evento.id) }}">
            <button type="button">
                PreInscribirse
            </button>
        </a>
    {% elif fechaActual < evento.fechaInscripcionFin %}
        <div><b>Fecha Límite de Inscripción:</b> {{ evento.fechaInscripcionFin }}</div>
        <a class="btn" style="margin-bottom: 0;" href="{{ url_for('inscripcion.inscripcion', id=evento.id) }}">
            <button type="button">
                Inscribirse
            </button>
        </a>
    {% endif %}
</div>
<div>
    <img style="max-height: 450px;" src="{{ url_for('static', filename='imgs/eventos/' ~ evento.id ~ '.png') }}" alt="{{ evento.nombre }}">
</div>
</div>
{%endblock%}
