{%extends "layout.html"%}

{%block title%}
Inscripcion
{%endblock%}

{%block estilos%}
{%endblock%}

{%block contenido%}
<div class="page">
    
    <div class="form">
        <h1>Inscripcion para {{ evento.nombre }}</h1>
        <br>
        <h2>Paquetes</h2>
        <br>
        <table>
            <tr>
                <th>Rol</th>
                <th>Actividades</th>
                <th>Precio</th>
            </tr>
            {% for paquete in evento.paquetes %}
            <tr>
                <td>{{ paquete.rol|capitalize }}</td>
                <td>{{ paquete.actividades|join(', ', attribute='nombre') }}</td>
                <td>{{ paquete.precio }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <form action="" method="post">
            <div class="input-box">
                <label>DNI</label>
                <br>
                <input type="text" name="docId" autocomplete="off" required>
            </div>
            <div class="input-box">
                <select name="paquete">
                {% for paquete in evento.paquetes %}
                    <option value="{{ paquete.id }}">{{ paquete.rol|capitalize }} - {{ paquete.actividades|join(', ', attribute='nombre') }}</option>
                {% endfor %}
                </select>
            </div>
            
            <button class="btn" type="submit">
                Inscribirse
            </button>
        </form>
    </div>

</div>
{%endblock%}