{%extends "layout.html"%}

{%block estilos%}
{%endblock%}

{%block title%}
E-vent
{%endblock%}

{%block contenido%}
{% if evento %}
    <h2>Paquetes de {{ evento.nombre }}</h2>
    <br>
    <a class="btn" style="margin-bottom: 0;" href="{{ url_for('config.añadirPaquete', id=evento.id) }}">
    <button type="button">
        Agregar paquete
    </button>
    <br><br>
    </a>
    <table>
        <tr>
            <th>Rol</th>
            <th>Actividades</th>
            <th>Precio</th>
        </tr>
        {% for paquete in evento.paquetes %}
        <tr>
            <td>{{ paquete.rol }}</td>
            <td>{% for actividad in paquete.actividades %}{{ actividad.nombre }} {% endfor %}</td>
            <td>{{ paquete.precio }}</td>
            <td><a href="{{ url_for('config.modificarPaquete', id=paquete.id) }}"><button type="button">Modificar</button></a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Elige Evento</h2>
    <br>
    <ul>
    {% for eve in eventos %}
        <li><a href="{{ url_for('config.paquetes', id=eve.id) }}">{{ eve.nombre }}</a></li>
    {% endfor %}
    </ul>
    
{% endif %}


{%endblock%}
