{%extends "layout.html"%}

{%block estilos%}
{%endblock%}

{%block title%}
E-vent
{%endblock%}

{%block contenido%}
{% if nombreEvento %}
    <h2>Reporte de Materiales de {{ nombreEvento }}</h2>
    <br>
    <table>
        <tr>
            <th>Material</th>
            <th>Cantidad</th>
            <th>Tipo</th>
            <th>Actividad</th>
        </tr>
        {% for mat in materiales %}     
            <tr>
                <td>{{ mat.nombre }}</td>
                <td>{{ mat.cantidad }}</td>
                <td>{{ mat.tipo }}</td>
                <td>{{ mat.actividad.nombre }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="" method="post">
        <button>Exportar</button>
    </form>
{% else %}
    <h2>Elige Evento</h2>
    <br>
    <ul>
    {% for eve in eventos %}
        <li><a href="{{ url_for('reporte.reporteMateriales', id=eve.id) }}">{{ eve.nombre }}</a></li>
    {% endfor %}
    </ul>
    
{% endif %}


{%endblock%}
