{% extends "layout.html" %}

{% block estilos %}
<style>
    h2 {
        color: #007bff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;  /* Cambiado a #ddd */
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

    .btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;  /* Agregado margen superior */
    }

    .btn:hover {
        background-color: #0056b3;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 8px;
    }

    li a {
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s ease;
        font-weight: bold;
    }

    a:hover {
        color: #0056b3;
    }
</style>
{% endblock %}

{% block title %}
    E-vent
{% endblock %}

{% block contenido %}
    {% if evento is defined %}
        <h2 class="mb-4">Reporte de Inscritos de {{ evento.nombre }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Cuenta</th>
                    {% for act in evento.actividades %}
                        <th>{{ act.nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for asistencia in asistencias %}     
                    <tr>
                        <td>{{ asistencia[0].cuenta.nombre }}</td>
                        {% for act in evento.actividades %}
                            {% set presente = act in asistencia[0].asistencias %}
                            <td>{% if presente %}&#x2705;{% else %}&#10060;{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <form action="" method="post">
            <button class="btn">Exportar</button>
        </form>
    {% else %}
        <h2 class="mb-4">Elige Evento</h2>

        <ul>
            {% for eve in eventos %}
                <li><a href="{{ url_for('reporte.reporteAsistencias', id=eve.id) }}">{{ eve.nombre }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
